%measure {
  max-width: var(--measure, 100%);
}

%heading {
  font-family: var(--serif-font-family);
  font-weight: 300;
  line-height: 1.6;
  em {
    font-family: var(--serif-font-family);
  }
}

%h1 {
  font-size: var(--step-8);
}

%h2 {
  font-size: var(--step-4);
}

%h3 {
  font-size: var(--step-3);
}

%h4 {
  font-size: var(--step-2);
}

%h5 {
  font-size: var(--step-1);
}

%h6 {
  font-size: var(--step-0);
}

%p3{
  font-size: var(--step--1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %heading;
  @extend %measure;
}

p {
  @extend %measure;
}

h1,.h1 {
  @extend %h1;
}

h2,.h2 {
  @extend %h2;
}

h3,.h3 {
  @extend %h3;
}

h4,.h4 {
  @extend %h4;
}

h5,.h5 {
  @extend %h5;
}

h6,.h6 {
  @extend %h6;
}

.p3{
  @extend %p3;
}
