.c{
  &-footer{
    &--wrap{
      display: flex;
      width: 100%;
      padding: var(--space-2xl);
    }

    &-colophon{
      color: rgba(255,255,255,0.3);
      flex-grow: 1;
      font-size: var(--step--2);
      a{
        color: rgba(255,255,255,0.3);
        text-decoration: none;
        transition: .2s ease all;
        &:hover{
          color: var(--color-accent);
        }
      }
    }
    &-social{
      ul {
        margin: auto;
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        @include media-breakpoint-up(sm) {
          justify-content: center;
        }
        @include media-breakpoint-up(md) {
          justify-content: flex-end;
        }
        // justify-content: center;
      }
      li {
        display: inline-block;
        @include media-breakpoint-down(sm) {
          margin-right: 8px;
        }
        &:not(:first-child) {
          @include media-breakpoint-up(sm) {
            margin-left: 8px;
          }
          @include media-breakpoint-up(lg) {
            margin-left: 16px;
          }
        }
        a{
          color: rgba(255,255,255,0.3);
          text-decoration: none;
          transition: .2s ease all;
          &:hover{
            color: var(--color-accent);
          }
        }
      }
    }
  }
}